.playBoxContainer {
  display: flex;
  margin: auto;
  width: fit-content;
}

.playBox {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  margin: 0 5px;
  background-color: dimgrey;
  margin: 5px;
  border: 1px solid gainsboro;
  border-radius: 5%;
}
.playBox-wrapper {
  width: 700px;
  width: -moz-fit-content;
  width: fit-content;
}
