.inputContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 479px;
}

.inputItem {
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  background-color: gainsboro;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border: 1px solid gainsboro;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.inputItem:hover {
  cursor: pointer;
  border-color: darkgrey;
  box-shadow: 1px 1px darkgrey;
}

@media (max-width: 400px) {
  .inputItem {
    width: 50px;
    height: 50px;
  }
}
